---json
{
"title": "Getting started",
"lead": "Learn how to get TelemetryDeck set up in your project in under ten minutes",
"tags": "intro",
"categoryOrder": -9000
}
---

Start here. This selection of articles will guide you into the world of TelemetryDeck and its lore.

{% include "docs/featured.njk" %}

<p>If you find an error or feel like the documentation could be improved somewhat, we'd love 
to hear from you! Either directly submit a change request with the buttons on each page, 
or open an issue in our <a href="https://github.com/TelemetryDeck/docs">Docs GitHub Repository</a>.</p>

<p>The <a href="/docs/articles/documentation/">documentation guide</a> explains all markdown and 
additional features you can use while writing documentation for TelemetryDeck.</p>