---
title: Getting started
lead: Learn how to get TelemetryDeck set up in your project in under ten minutes
tags: intro
date: git Last Modified
---

Start here. This selection of articles will guide you into the world of TelemetryDeck and its lore.

{% include "docs/featured.njk" %}