on: [push]
jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'TelemetryDeck',
              repo: 'website',
              workflow_id: 'azure-deploy.yml',
              ref: 'eleventy'
            })
